{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="card mt-2">
  {% if header|lower == "apple" %}
  <div class="row">
      <div class="col col-xs-6"><span class="badge badge-light">Currently <i class="fas fa-mobile-alt"></i> {{ header }}</span></div>
        <div class="col col-xs-6 text-right"> <span class="badge badge-light"><i class="fas fa-bullhorn"></i> Entry new item</span>
            <a href="{% url 'apple-new' %}" class="badge badge-light mr-2" role="button" alt="Add" title="Add" aria-pressed="true"><i class="fas fa-plus-circle"></i></a>
          </div>
        </div>
  {% elif header|lower == "samsung" %}
  <div class="row">
      <div class="col col-xs-6"><span class="badge badge-light">Currently <i class="fas fa-mobile-alt"></i> {{ header }}</span></div>
        <div class="col col-xs-6 text-right"> <span class="badge badge-light"><i class="fas fa-bullhorn"></i> Entry new item</span>
            <a href="{% url 'samsung-new' %}" class="badge badge-light mr-2" role="button" alt="Add" title="Add" aria-pressed="true"><i class="fas fa-plus-circle"></i></a>
          </div>
        </div>
 {% else %}
 <div class="row">
      <div class="col col-xs-6"><span class="badge badge-light">Currently <i class="fas fa-mobile-alt"></i> {{ header }}</span></div>
        <div class="col col-xs-6 text-right"> <span class="badge badge-light"><i class="fas fa-bullhorn"></i> Entry new item</span>
            <a href="{% url 'xiaomi-new' %}" class="badge badge-light mr-2" role="button" alt="Add" title="Add" aria-pressed="true"><i class="fas fa-plus-circle"></i></a>
          </div>
        </div>

{% endif %}
</div>
<table class="table table-bordered">
  <thead class="table-dark">
    <tr class="text-center">
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Brand</th>
      <th scope="col">Price</th>
      <th scope="col">Status</th>
      <th scope="col">Remarks</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr class="text-center">
      <th scope="row">{{ item.pk }}</th>
      <td class="text-left">{{ item.name }}</td>
      <td>{{ item.brand }}</td>
      <td>{{ item.price }} BDT</td>
      <td>{{ item.status }}</td>
      <td>{{ item.remarks }}</td>

      {% if header|lower == "apple" %}
        <td align="center">
            <a href="{% url 'apple-update' item.pk %}" class="btn btn-warning btn-sm" role="button" alt="Edit" title="Edit" aria-pressed="true" ><i class="fas fa-pen-square"></i></a>
            <a href="{% url 'apple-delete' item.pk %}" class="btn btn-danger btn-sm" role="button" alt="Delete" title="Delete" aria-pressed="true" ><i class="fas fa-trash"></i></a>
        </td>
        {% elif header|lower == "samsung" %}
        <td align="center">
            <a href="{% url 'samsung-update' item.pk %}" class="btn btn-warning btn-sm" role="button" alt="Edit" title="Edit" aria-pressed="true" ><i class="fas fa-pen-square"></i></a>
            <a href="{% url 'samsung-delete' item.pk %}" class="btn btn-danger btn-sm" role="button" alt="Delete" title="Delete" aria-pressed="true" ><i class="fas fa-trash"></i></a>
        </td>
        {% else %}
        <td align="center">
            <a href="{% url 'xiaomi-update' item.pk %}" class="btn btn-warning btn-sm" role="button" alt="Edit" title="Edit" aria-pressed="true" ><i class="fas fa-pen-square"></i></a>
            <a href="{% url 'xiaomi-delete' item.pk %}" class="btn btn-danger btn-sm" role="button" alt="Delete" title="Delete" aria-pressed="true" ><i class="fas fa-trash"></i></a>
        </td>
        {% endif %}
    </tr>
   {% endfor %}
  </tbody>
</table>
<!--Pagination-->
    <nav aria-label="Page navigation example">
    {% if items.has_other_pages %}
        <ul class="pagination pagination-sm justify-content-end">
            {% if items.has_previous %}
                <li class="page-item active"><a class="page-link" href="?page=
                        {{ items.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="#!"><span aria-hidden="true">&laquo;</span></a></li>
            {% endif %}
            {% for num in items.paginator.page_range %}
                {% if items.number == num %}
                    <li class="page-item"><a class="page-link" href="#!">{{ num }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" 
                            href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}
            {% if items.has_next %}
                <li class="page-item"><a class="page-link" 
                        href="?page={{ items.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><span aria-hidden="true">&raquo;</span></a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="#!"><span aria-hidden="true">&raquo;</span></a></li>
            {% endif %}
        </ul>
      {% endif %}
    </nav>
</div>
{% endblock %}